/*  -----  root e corpo vai daqui   ----- */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: 251, 251, 255;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#rowprincipal {
  margin-top: 2%;
  padding: 0;

}

#containerprincipal {
  padding: 0;
}

#rowitem {
  margin: 0;
  padding: 0;
}

#colcard {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  min-height: 100vh;
}

#LabalL {
  text-align: center;
  background-color: rgb(11, 79, 108);
  color: white;
}

#corfi {
  background-color: rgb(11, 79, 108);
  color: white;
  margin: 0;
  padding: 0;
}

/*  -----  root e corpo até aqui   ----- */



/*  -----  css cabeçalho vai daqui ----- */
#cabecalho {
  padding: 0;
  background-color: rgb(1, 186, 239);
  align-items: center;
}

#foto1 {
  margin-top: 2%;
  padding: 0;
  border: 0;
}

#titulo {
  color: rgb(0, 4, 8);
  background-color: rgb(255, 255, 255);
  line-height: 1.1;
  padding-top: 2%;
  margin: 0;
}

#barracolorida {

  padding-top: 2%;
}

#barracolorida2 {
  background-color: rgb(11, 79, 108);
  padding: 1%;
  margin: 0;
  color: rgb(255, 255, 255);
}

#barracolorida3 {
  background-color: rgb(11, 79, 108);
  padding: 5%;
  color: white;
}

#containerbaner {
  padding: 0;
  padding-top: 0;
  border-top: 0;
}

#subtitulo {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 2%;
  padding-top: 1%;
  margin: 0;
}

#semspaco {
  margin: 0;
  padding: 0;
  border: 0;
}

#fotoacord {

  border-radius: 10px;

}

#fotoredu {
  width: 100px;

}

#containerdeicones {
  background-color: rgb(11, 79, 108);
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3%;
}

#icons {
  width: 40px;
}

/*  -----  css cabeçalho até aqui  ----- */



/* ----- nav bar vai daqui ---- */
.navbar-brand {
  margin: 0;
  border: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  border: 0;
}


.navbar {
  margin: 0;
  border: 0;
}

#navtext {
  margin: 10px;

}

.logo {
  margin-right: -100px;
}

#BarraNome {
  color: white;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}

/* ---- nav bar até aqui ---- */